{% extends 'base.html' %}



{% block head_title %}
Payments
{% endblock head_title %}

{% block content %}

{% block client %}

{% endblock client %}


{% if is_paginated %}
{% include 'pagination.html' %}
{% endif %}

<div class="container mt-5">
    <div class="my-3">
        <a href="{% url 'payments:payment-create' %}">Add Payment</a>
    </div>

    {% for object in object_list %}
    <p>
        <a href="{{object.get_absolute_url}}">
            {{object}}
        </a>
    <div class="container">
        <span class="text-muted small">{{object.client}}</span>
        <span class="text-muted small">{{object.email}}</span>
        <span class="text-muted small">{{object.date}}</span>
        <span class="text-muted small">{{object.description}}</span>
    </div>
    </p>
    <hr>
    {% empty%}
    <p>No payments</p>
    {% endfor %}

</div>


{% if is_paginated %}
{% include 'pagination.html' %}
{% endif %}


{% endblock content %}