{% extends 'base.html' %}



{% block head_title %}
Clients
{% endblock head_title %}

{% block content %}
<div class="container my-5 min-vh-100">
    <h1 class="display-1 border-bottom">Clients list</h1>
    <a href=""
        class="btn btn-lg btn-dark rounded-pill mx-auto my-3">Add
        a
        client</a>


    {% block client %}
    {% include 'clients/client_filter_form.html' %}

    {% endblock client %}


    <!-- <div class="my-3"
        style="max-width: 28rem;">
        {% for category in supplier_category_list %}
        <a class="btn btn-sm btn-outline-dark rounded-pill mb-2"
            href="">{{category}}</a>
        {% endfor %}

    </div> -->

    {% if is_paginated %}
    {% include 'pagination.html' %}
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Client ID</th>
                <th scope="col">Clients</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}

            <tr>
                <td>
                    <a class="text-dark"
                        href="{{object.get_absolute_url}}">
                        {{object.client_id}}
                    </a>
                </td>
                <td>{{object.client}}</td>
            </tr>
            {% empty %}
            <tr>
                <td class="text-center"
                    colspan="2">No Clients</td>
            </tr>
            {% endfor %}


        </tbody>
    </table>

    {% if is_paginated %}
    {% include 'pagination.html' %}
    {% endif %}

</div>
{% endblock content %}