{% extends 'base.html' %}

{% load humanize %}

{% block head_title %}
{{object|title}}
{% endblock head_title %}


{% block content %}
<div class="container mt-5">
    <h2 class="display-6 border-bottom">{{object}}
        (${{object.get_total_payments|floatformat:2|intcomma|default:''}})</h2>
    <p>{{object.client_id}}</p>
    <p>
        <span>NIC: </span>
        {{object.national_insurance_id|default:""}}
    </p>
    <p>
        <a href="tel:{{object.tel|default:""}}">
            {{object.tel|default:""}}
        </a>
    </p>
    <p>
        <a href="mailto:{{object.email|default:""}}">
            {{object.email|default:""}}
        </a>
    </p>
    <p>
        {{object.location|default:""}}
    </p>
    <hr>
    <p>
    <h3>License</h3>
    {% for object in object.license.all %}
    <ul>
        <li>
            {{object.license}} (${{object.vending_fee}})
        </li>
    </ul>
    {% endfor %}
    </p>
    <hr>
    <p>
    <h3>Payments</h3>
    {% for object in object.payments.all %}
    <ul>
        <li>
            {{object.date}} - ${{object.amount}}

        </li>
    </ul>
    {% endfor %}

    </p>

    <p class="border-top pt-3">
        <a class="btn btn-outline-dark px-5"
            href="{{object.get_absolute_update_url}}">Edit</a>
    </p>
</div>
{% endblock content %}