{% extends 'base.html' %}



{% block head_title %}
Clients
{% endblock head_title %}

{% block content %}


<div class="my-3 col-lg-6">
    <label for="search-clients">Search Clients</label>
<input class="form-control" type="search" name="q" id="search-clients" placeholder="search clients">

</div>
{% if is_paginated %}
{% include 'pagination.html' %}
{% endif %}

<div class="container mt-5">

    {% for object in object_list %}
    <p>
        <a href="{{object.get_absolute_url}}">
            {{object}}
        </a>
        <div class="container">
            <p class="text-muted small">{{object.tel}}</p>
            <p class="text-muted small">{{object.email}}</span>
        </div>
    </p>
    <hr>
    {% endfor %}

</div>


{% if is_paginated %}
{% include 'pagination.html' %}
{% endif %}


{% endblock content %}