{% extends 'base.html' %}



{% block head_title %}
Clients
{% endblock head_title %}

{% block content %}
<div class="container my-5 min-vh-100">
    <h1 class="display-1 border-bottom">Clients list</h1>
    <a href=""
        class="btn btn-lg btn-outline-dark border-3 rounded-pill mx-auto my-3">Add
        a
        client</a>
    <div style="max-width: 28rem;">
        <form class="my-3 mx-auto"
            action=""
            method="get">
            <input class="form-control form-control-sm rounded-pill"
                type="text"
                name="q"
                placeholder="Search clients by (name, detail, email)..."
                aria-label="Search">
        </form>
    </div>

    <!-- <div class="my-3"
        style="max-width: 28rem;">
        {% for category in supplier_category_list %}
        <a class="btn btn-sm btn-outline-dark rounded-pill mb-2"
            href="">{{category}}</a>
        {% endfor %}

    </div> -->
    {% include 'pagination.html' %}
    <ul class="list-group"
        style="max-width: 28rem;">
        {% for object in object_list %}
        <li class="list-group-item border-0 border-bottom">
            <a class="text-decoration-none text-dark"
                href="{{object.get_absolute_url}}">

                ({{object.client_id}}), {{object.name|title}} {{object.annual_venue_fee}}
            </a>
        </li>


        {% empty %}
        <li class="list-group-item">No Suppliers</li>
        {% endfor %}

    </ul>
    {% include 'pagination.html' %}

</div>
{% endblock content %}